// Colors
$white: #000;
$light-sea-green: #24B59B;
$green-crayola: #1B9882;
$tufts-blue: #3192D2;
$green-blue: #1C76B1;
$yankees-blue: #0F2839;
$misty-rose: #FFDFDF;
$jasper: #D83E3E;
$light-salmon-pink: #FCA3A3;
$slate-gray: #6C7D9C;
$beau-blue: #BED6E4;
$ucla-blue: #586988;
$alice-blue: #ECF6FD;
$carolina-blue: #529ED2;
$tigers-eye: #ED8A41;
$amethyst: #905BD4;
$telemagenta: #D63D74;
$amethyst-20: rgba(144, 91, 212, 0.20);
$tigers-eye-20: rgba(237, 138, 65, 0.20);
$telemagenta-20: rgba(214, 61, 116, 0.20);
$light-sea-green-20: rgba(36, 181, 155, 0.20);
$light-sky-blue-40: rgba(144, 206, 247, 0.40);
$bright-gray-70: rgba(228, 233, 242, 0.70);
$bright-gray-85: rgba(228, 233, 242, 0.85);

// Font Sizes
$font-size-micro: 12px;
$font-size-small: 15px;
$font-size-default: 17px;
$font-size-large: 20px;
$font-size-extra-large: 26px;

// Font Weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
